/* Add CSS Styling */
.sup1, .sup2{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.sup1{
    background-color: black;
    color: white;
}


.sup2{
    background-color: yellow;
}

