body {
  padding: 0px;
  margin-top: 0px;
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid white;
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {
  display: block;
  background: white;
  padding: 10px 30px;
  border: 1px solid #eee;
  margin: 0 auto;
}